{% extends "base.html" %}

{% block title %}FalaAi - {{ slogan }}{% endblock %}

{% block content %}
<main class="container">
    <h1>{{ slogan }}</h1>
    <p>Digite um texto abaixo e converta para áudio!</p>

    <form id="ttsForm" method="POST" action="/">
        <label for="textInput">Seu texto:</label>
        <textarea id="textInput" name="text" rows="4" placeholder="Digite algo aqui..." autofocus required maxlength="1000"></textarea>
        <button type="submit">Converter para Áudio</button>
    </form>
    <span id="loader" aria-busy="true" style="display: none;">Gerando áudio...</span>
    <!-- Se a resposta incluir o áudio, exibe o player e o botão de download -->
    <section id="audioSection" style="display: none;">
        <!-- Aqui o player de áudio será renderizado depois que o servidor enviar o arquivo de áudio -->
        <h2>Resultado</h2>
        <audio controls id="audio" src="">
        </audio>
        <hr>
        <a href="" id="button" class="secondary" download="falaai_audio.mp3">Baixar Áudio</a>
    </section>
</main>
<script>
    function loading(state){
        const loader = document.getElementById('loader')
        if (loader){
            if (state){
                loader.style.display = 'block'
            } else {
                loader.style.display = 'none'
            }
        }
    }
    function fetchAudio(body){
        fetch(
            "/",
            {
                headers: {"content-type": "application/json"},
                method:'post',
                body: JSON.stringify(body)
            }
        )
        .then(res => res.json())
        .then(res => {
            loadAudio(res)
        });
    }
    function loadAudio(response){
        const audioSection = document.getElementById('audioSection')
        const audioSRC = document.getElementById('audio')
        const buttonHREF = document.getElementById('button')
        const audioURL = "/static/audios/"+response.file_name
        audioSRC.setAttribute('src', audioURL)
        buttonHREF.setAttribute('href', audioURL)
        audioSection.style.display = 'block'
        loading(false)
    }
    document.addEventListener("submit", (e) => {
        e.preventDefault()
        const texto = document.getElementById('textInput')
        if (texto && texto.value){
            const audioSection = document.getElementById('audioSection')
            audioSection.style.display = 'none'
            loading(true)
            const body = {"texto": texto.value}
            fetchAudio(body)
        }
    })
</script>
{% endblock %}